<div class="container">
<button (click)="back()" mat-stroked-button color="primary">Back</button>

<mat-card>

  <mat-card-title>
    <h2>{{article?.title}}</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <h5>{{article?.author}}</h5>
  </mat-card-subtitle>
  <mat-card-content>
    <img class="image" *ngIf="article?.image" mat-card-lg-image src="assets/{{article?.image}}">
    <p>{{article?.text}}</p>
  </mat-card-content>

</mat-card>
<app-comment></app-comment>
<button (click)="back()" mat-stroked-button color="primary">Back</button>
</div>
