<div class="reply">
<div *ngFor="let reply of replies; let i = index" class="reply-list" >
  <div *ngIf="reply.parentCommentId === commentId && reply.id">
    <h5 matLine>{{reply.email}} </h5>
    <p>Username:{{reply.name}}, Date: {{reply.postDate|date:'medium'}}</p>
    <p>{{reply.message}}</p>
    <button mat-button mat-mini-fab (click)="onDeleteReply(reply.id)"><mat-icon>delete</mat-icon></button>
<!--    {{togglePanel[reply.id]}}-->
    <mat-card-actions *ngIf="reply.id" >
      <mat-button-toggle  (click)="togglePanel[reply.id] = !togglePanel[reply?.id]">Reply/See replies</mat-button-toggle>
      {{togglePanel | json}}
      <app-reply-form [postId]="reply.postId"  [commentId]="reply?.id" *ngIf="togglePanel[reply?.id]" [comments]="replies"></app-reply-form>
    </mat-card-actions>
    <mat-divider></mat-divider>
  </div>
</div>
</div>
