<head>
  <title>Sergiu's Blog</title>
</head>
<!--<div style="background-image: url('assets/poza1_blog.jpg');">-->
<h1 class="center">Welcome to Sergiu's Blog</h1>
<div>
  <button (click)="newArticle()" mat-stroked-button color="warn">Add Article</button>|
  <button (click)="authenticate()" mat-stroked-button color="warn">Authenticate</button>
</div>
<p>HOME PAGE</p>
<div class="main">
<div *ngFor="let article of articles">
  <mat-card class="articol">
    <mat-card-header>
      <mat-card-title>
<!--        <a routerLink="/{{article.id}}">-->
          {{ article.title }}
<!--        </a>-->
      </mat-card-title>

      <!--    <div class="navbar-brand">-->
      <!--      <a class="navbar-item">-->
      <!--        <img src="assets/poza2_blog.png">-->
      <!--      </a>-->
      <!--    </div>-->
      <mat-card-subtitle>
        Author:
        {{ article.author }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button (click)="access(article.id)" mat-flat-button color="primary">View</button>
      <button (click)="edit(article.id)" mat-flat-button color="warn">Edit</button>
      <button (click)="deleteArticle(article.id)" mat-flat-button color="red">Delete Article</button>
      <h3>Description:
        {{ article.description }}
      </h3>
      <h3>
        Last update:{{article.updatedAt|date:'short'}}|||Created at:{{article.createdAt|date:'short'}}
      </h3>
      <img class="img" *ngIf="article.image" mat-card-lg-image src="assets/{{article.image}}">
    </mat-card-content>
  </mat-card>
</div>
</div>
