mat-card-title{
  color:red;
  font-size:30px
}
p {
  font-family: Lato;
  font-size: 40px;
}
.articol {
  position: center;
  background-color:antiquewhite;
  width: 90%;
  margin:auto;
  margin-bottom: 4px;
}
.img{
  position: center;
  width:80%;
}

mat-card-subtitle{
  font-size:20px
}
.titlu{
  position: center;
  font-size: 30px;
  background-color:darkslategrey;

}
.center {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family:"Leelawadee UI Semilight";
}
.add {
  position: absolute;
  top: 10%;
}
.auth{
  position: relative;
  top:0%;
}
.main{
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
}
